extends login.pug
block title
    title Add Code
block box
    div(class="input-icons")
        input(class="log",type="text", placeholder="ادخل الكود")
        i(class="fas fa-lock")
    a(href="password.html",class="submit") دخول
    ul
        li يرجى العلم ان الكود المستخدم صالح للاستخدام مرة واحدة فقط