extends login.pug
block title
    title Password
block box
    div(class="input-icons")
        input(class="log",type="password", placeholder="كلمة المرور")
        i(class="fas fa-lock")
    div(class="input-icons")
        input(class="log",type="password", placeholder=" تاكيد كلمة المرور")
        i(class="fas fa-lock")
    input(class="submit",type="submit",value="دخول")
    ul
        li يرجى العلم ان الكود المستخدم صالح للاستخدام مرة واحدة فقط