extends login.pug
block title
    title Regester
block box
    div(class="input-icons")
        input(class="log",type="text", placeholder="رقم الموبايل")
        i(class="fas fa-user")
    a(href="code-password.html",class="submit") تسجيل
    ul
        li ادخل رقم هاتفك و سوف يتم ارسال رسالة بكلمة المرور