div(class="contact-us")
    div(class="container")
        div(class="row text-center text-lg-left")
            div(class="col-6 col-lg-4")
                div(class="image")
                    img(src="images/header-logo.png", alt="logo")
                p لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقة وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعة ... بورشو او فلاير على سبيل المثال ... او نماذج مواقع انترنت
            div(class="col-6 col-lg-3")
                ul
                    li
                        a(href="#") الأسئلة الأكثر تداولا
                    li
                        a(href="#") شروط الإستخدام
                    li
                        a(href="#") سياسة الخصوصية
                    li
                        a(href="#") خريطة المحافظات
                    li
                        a(href="#") خريطة الموقع
            div(class="col-12 col-lg-2 text-center")
                a(href="#")
                    i(class="fab fa-instagram icon")
                a(href="#")
                    i(class="fab fa-twitter icon")
                a(href="#")
                    i(class="fab fa-facebook icon")
            div(class="col-12 col-lg-3")
                h3 قم بتحميل التطبيق الخاص بنا مجانا
                a(class="get-app",href="#") احصل عليه من متجر جوجل
                    i(class="fab fa-google-play")
                a(class="get-app",href="#") احصل عليه من متجر ابل
                    i(class="fab fa-apple")