header.header2
    div(class="add-advertisement")
        a(href="login.html")
            i(class="fa fa-user")
        a(href="add-advertisement.html" class="add-adver") اضف اعلان
    div(class="image-header")
        a(href="index.html")
            img(src="images/header-logo.png", alt="logo")
        